.header {
    padding: 20px;
}

.modal-window {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.64);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal-content {
    max-width: 40%;
    padding: 20px;
    position: relative;
}

.close-modal {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    border: none;
    background-color: white;

}

.header-btn {
    width: 150px;
    height: 35px;
    border: inherit;
    background: #013e76;
    color: #fff;
    border-radius: 5px;
}

.active {
    text-decoration: underline;
    color: #013e76;
}



/*----------------MODAL-----------------*/



